div.quick-search {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 160px;
  width: 110px;
  height: auto;
  margin: 0 10px 0 auto;
  background: rgb(43, 39, 39);
  z-index: 999999;
  display: none;
}
